IBLWorkFlow/Data/User.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.webserver.module.miniboss.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://webserver.module.miniboss.com/" name="UserImplService" targetNamespace="http://impl.webserver.module.miniboss.com/">
    <wsdl:import location="http://115.28.0.62:8081/nodeibilling/services/UserInterface?wsdl=UserInterface.wsdl" namespace="http://webserver.module.miniboss.com/"></wsdl:import>
    <wsdl:binding name="UserImplServiceSoapBinding" type="ns1:UserInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUserInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getUserInfo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="openAccount">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="openAccount">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="openAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="renew">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="renew">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="renewResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="change">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="change">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delay">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="delay">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="delayResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserList">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getUserList">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserImplService">
        <wsdl:port binding="tns:UserImplServiceSoapBinding" name="UserImplPort">
            <soap:address location="http://115.28.0.62:8081/nodeibilling/services/UserInterface"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
